body {
    background-image: url("./img/Ring.png");
    background-repeat: no-repeat;
    height: 1050px;
    overflow: hidden;    
}

.slapTarget {
    width: 53%;
    min-width: 500px;
    padding: 10px;
    border-radius: 15px;
    margin: -160px 0px 50px;
}

.healthText {
    margin: 50px 0px 50px 0px;
    font-weight: 700;
}

.target-name {
    font-family: 'Anton', sans-serif;
    font-size: 80px;
    margin: 15px 0px;
}

.health-bar{
    height: 50px;
    border-radius: 4px;
    margin-bottom: 15px;
    text-align: center;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.side-left{
    float: left;
    margin: 50px;
    padding: 25px 10px;
    display: inline;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 10px;
}

.side-right{
    float: right;
    margin: 50px;
    padding: 25px 10px;
    display: inline;
    border-style: solid;
    border-width: 5px;
    border-color: white;
    border-radius: 10px;
}

#hits-tally{
    font-family: 'Anton', sans-serif;
    font-size: 45px;
}

#health-tally{
    font-family: 'Anton', sans-serif;
    font-size: 45px;
}

#attacks{
    margin: 20px;
    display: inline;
}

#items{
    margin: 20px;
    display: inline;
}

#restart{
    margin-top: 25px;
    display: none;
    z-index: 100;
}
